@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');
*{
  padding: 0;
  margin: 0;
}
body{
  width: 100%;
}
.app{
  width: 100%;
  text-align: center;
}
.tp{
  background: url(../images/pattern-bg-desktop.png);
  background-repeat: no-repeat;
  width: 100%;
  /* margin-bottom: 30px; */
}
.search{
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
   gap: 40px;
  margin-bottom: 30px; 
}
.title{
  margin-top: 60px; 
  width: 100%;
}
.title h1{
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
  font-size: 32px;
  color: #ffffff;
}
.search-input{
  width: 33%;
  height: 52px;
  display: flex;
  border-radius: 18px;
  align-items: center;
  gap: 8px;
  justify-content: center;
  background-color: #ffffff;

}
input{
  width: 80%;
  height: 52px;
  border: none;
  color: #2b2b2b;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-size: 20px;
  border-radius: 12px;
  margin-right: 12px;
  margin-left: 20px;
}
 input:focus{
  color: #969696;
  background-color: #ffffff;
  outline: none;
  border-color: none;
}
input:hover, .search-input:hover{
  cursor: pointer;
}

.search button{
width: 10.9%;
height: 52px;
background: #000000;
border: none;
cursor: pointer;
border-radius: 0% 20% 20% 0%;
}
.result{
  width: 75%;
  height: 140px;
  border-radius: 18px;
  margin: 0 auto;
  display: flex;
  gap: 70px;
  align-items: center;
  background-color: #ffffff;
  box-shadow: #ffffff;

  
}

.ip-ad, .location, .timezone, .isp{
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 8px;
  width: 15%;
  justify-content: center;
  align-items: center;
  border-left: 1px solid #000000;
}
.ip-ad{
  border: none;
  padding: 0;
  margin-left: 30px;
}
.result h3{
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  color: #2b2b2b;
  font-size: 20px;

}
.result p{
  color: #969696;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  width: 100%;
  font-size: 18px;
}
.map {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1; 
  margin-top: 8%;
}
/* media query for mobile */
@media screen and (max-width:428px){
  .search-input{
    width: 80%;
  }
  .result{
    width: 80%;
    flex-direction: column;
    gap: 10px;
    height: 300px;
  }
  .ip-ad, .location, .timezone, .isp{
    width: 95%;
    gap: 4px;
    border: none;
  }
  .ip-ad{
    margin-left: 0;
    margin-top: 20px;
  }
  input::placeholder{
    font-size: 12px;
  }
  
}


/* LoadingAnimation.css */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.loading-spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left: 4px solid #333;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}
